.containermain {
	display: grid;
	grid-template-rows: auto auto 100fr;
	grid-template-columns: 20% auto 20%;
	
	grid-template-areas:
		"nav nav nav"
		"main main main"
		"footer footer footer"
	;
}
/*****************Main start*******************/
.containermain > main {
	grid-area: main;
}
/*****************Main end*********************/

/***************** Menu start *****************/
.containermain > header {
	grid-area: nav;
	display: grid;
	grid-template-rows: 60px auto ;
	grid-template-columns: 150px auto 60px;
	grid-template-areas: 
		"logo search menuu"
		"banner banner banner"
	;
}
/***************** Menu end *******************/



/***************** Footer start *******************/
.containermain > footer {
	grid-area: footer;
}
/***************** Footer end *******************/

@media screen and (min-width: 700px){
	.containermain {

		grid-template-areas:
			"nav nav nav"
			"hero hero hero"
			"main main main"
			"footer footer footer"
		;
	} 
}
@media screen and (min-width: 900px) {

	/***************** Aside start *******************/
	.containermain > aside:nth-child(2) {
		grid-area: aleft;
	}
	.containermain > aside:nth-child(3) {
		grid-area: aright;
	}
/***************** Aside end *******************/
	.containermain {
		grid-template-areas:
			"nav nav nav"
			"hero hero hero"
			"aleft main aright"
			"footer footer footer"
		;
	} 
	.containermain > header:nth-child(1) {
		grid-template-columns: 0.5fr 3fr 0.5fr;
		grid-template-areas: 
			"logo menuu search"
			"banner banner banner"
		;
	}
}