/*
Logo start
*/
.containermain > header > div:nth-child(1) {
	grid-area: logo;	
	display: flex;
	justify-content: flex-end;
	align-items: center;
	z-index: 1;
}
.containermain > header > div:nth-child(1) > img {
	width: 90%;
	height: auto;
	width: 70%;
	min-width: 100px;
}
.containermain > header > div:nth-child(1) > img {
	width: 70%;
	min-width: 100px;
}
.containermain > header > div:nth-child(1) {
	justify-content: flex-end;
}
/*
Logo end
*/